BorderPane {
    -fx-background-image: url("images/rainbowBackground.png");
    -fx-padding: 25px, 5px, 50px, 5px;
}

Button {
    -fx-pref-height: 65px;
    -fx-min-width: 125px;
    -fx-max-width: 150px;
    -fx-background-color: #36a9e0;
    -fx-text-fill: #fff;
    -fx-font-size: 21px;
    -fx-font-family: 'Franklin Gothic Demi Cond';
}

Label {
    -fx-padding: 10px, 10px, 10px, 10px;
    -fx-font-family: "Franklin Gothic Demi Cond";
    -fx-font-size: 30px;
    -fx-text-fill: #fff;
    -fx-background-color: #36a9e0;
    -fx-background-radius: 3px;
}

#GridPane {
    -fx-background-image: url("images/rainbowBackground.png");
    -fx-alignment: BOTTOM_CENTER;
    -fx-hgap: 50px;
    -fx-vgap: 10px;
    -fx-padding: 100px, 10px, 10px, 10px;
}

#atkBoxLeft {
    -fx-alignment: BOTTOM_LEFT;
}

#atkBoxRight {
    -fx-alignment: BOTTOM_RIGHT;
}

#defBoxLeft {
    -fx-alignment: BOTTOM_LEFT;
}

#defBoxRight {
    -fx-alignment: BOTTOM_RIGHT;
}

#atkOpLeft {
    -fx-alignment: BOTTOM_LEFT;
}

#atkOpRight {
    -fx-alignment: BOTTOM_RIGHT;
}

#defOpLeft {
    -fx-alignment: BOTTOM_LEFT;
}

#defOpRight {
    -fx-alignment: BOTTOM_RIGHT;
}

