Button{
    -fx-background-color: #36a9e0;
    -fx-text-fill: #fff;
    -fx-font-size: 21px;
    -fx-font-family: 'Franklin Gothic Demi Cond';
}

#GridPane{
    -fx-background-image: url("images/rainbowBackground.png");
}

#atkPane{
    -fx-background-image: url("images/rainbowBackground.png");
}

#defPane{
    -fx-background-image: url("images/rainbowBackground.png");
}