Button{
    -fx-pref-height: 65px;
    -fx-min-width: 125px;
    -fx-max-width: 150px;
    -fx-background-color: #36a9e0;
    -fx-text-fill: #fff;
    -fx-font-size: 21px;
    -fx-font-family: 'Franklin Gothic Demi Cond';
}

#GridPane{
    -fx-background-image: url("images/rainbowBackground.png");
    -fx-alignment: BOTTOM_CENTER;
    -fx-hgap: 50px;
    -fx-vgap: 10px;
    -fx-padding: 100px, 10px, 10px, 10px;
}

#atkPane{
    -fx-background-image: url("images/rainbowBackground.png");
    -fx-padding: 50px, 10px, 10px, 10px;
}

#atkBoxLeft{
    -fx-alignment: BOTTOM_LEFT;
}

#atkBoxRight{
    -fx-alignment: BOTTOM_RIGHT;
}

#defPane{
    -fx-background-image: url("images/rainbowBackground.png");
    -fx-padding: 50px, 10px, 10px, 10px;
}

#defBoxLeft{
    -fx-alignment: BOTTOM_LEFT;
}

#defBoxRight{
    -fx-alignment: BOTTOM_RIGHT;
}

#atkOpPane{
    -fx-background-image: url("images/rainbowBackground.png");
    -fx-padding: 50px, 10px, 10px, 10px;
}

#atkOpLeft{
    -fx-alignment: BOTTOM_LEFT;
}

#atkOpRight{
    -fx-alignment: BOTTOM_RIGHT;
}

#defOpPane{
    -fx-background-image: url("images/rainbowBackground.png");
    -fx-padding: 50px, 10px, 10px, 10px;
}

#defOpLeft{
    -fx-alignment: BOTTOM_LEFT;
}

#defOpRight{
    -fx-alignment: BOTTOM_RIGHT;
}

